body{
    height: 100%;
}

.background{
    background-image: url(../img/Spacebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.secao-buttons{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
}

.secao-buttons>.button{
    width: 220px;
}

.secao-buttons>.button:first-child{
    margin-right: 50px;
}