.banner{
    background-image: url(../../assets/img/Spacebg.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.banner>.box{
    margin-top: 80px;
}

.banner .wrapper{
    display: inline-block;
}

.banner .navigation{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}