.button{
    font-size: 16px;
    font-weight: 500px;
    font-family: "Press Start 2P";
    text-decoration: none;
    border-style: none;
    color: #FFF;
    display: inline-block;
    background-color: #2393D9;
    padding: 10px 20px;
    margin-right: 0;
    transition: transform 100ms linear, background-color 200ms ease-in-out;
}

.button:hover{
    background-color: #66F2E4;
    transform: scale(1.04);
}